<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>Contador de Coches</h1>
      <hr>

      <div id="condicionBusqueda">
        <h2>Introduce el color a buscar</h2>
        <p>Opciones</p>
        <label>ngero</label>
        <label>blanco</label>
        <label>gris</label>
        <label>verde</label>
        <label>azul</label>
        <label>rojo</label>
        <input type="text" id="condicion">
        <hr>
        <button (click)="condicionABuscar(value)" class="btn btn-primary"> Buscar </button>

      </div>

      <div>
        <h3>Total de coches con ciclo For</h3>
        <h4>{{ this.contador }}</h4>
      </div>

      <div>
        <h3>Total de coches con método Filter</h3>
        <h4>{{ this.cantidadAutosVerdes }}</h4>
      </div>

    </div>
  </div>
</div>